body {
  font-family: Arial, sans-serif;
  background-color: rgb(246, 223, 194);
}


.navbar
{
     background-color: rgb(246, 223, 194);
}
.navbar-brand
{
    font-size:40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.carousel  img{
  height: 300px;
object-fit: cover;
}
.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}
.hero {
  height: 30vh;
  display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    text-align: center;
}
footer{
  background-color: aqua;
  color: rgb(163, 23, 23);
  padding:20px;
  text-align:center;
}